
  .example-full-width {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Impact', serif;
    font-size: 20px;
  }

  .header {
    font-family: Impact, serif;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;

  }




